<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      <!--레이아웃으로 사용할 페이지에 추가  -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!--공통으로 사용할 css, js  -->
<link th:href="@{css/style.css}" rel="stylesheet">
<script th:src="@{js/util.js}"></script>
 <!-- Style -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/fresh-bootstrap-table.css" rel="stylesheet" />

 <!-- Fonts and icons -->
  <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">


<!--공통으로 사용할 jquery  -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css"></th:block>

</head>
<body>
<!-- 	<div th:replace="fragments/header::header"></div> -->
	
	<div layout:fragment="content" class="content">
	</div>
	
	<div th:replace="fragments/footer::footer"></div>
	
	<!-- 각 페이지의 자바스크립트가 작성될 위치  -->
	<th:block layout:fragment="script"></th:block>
</body>
</html>